.container {
  max-width: 1440px;
  color: rgb(3, 11, 95);
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}

.list {
  display: inline-flex;
  gap: 20px;
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: #05088b;
}

.link:global(.active) {
  color: rgb(17, 159, 4);
}
